/*Set up animations*/
@keyframes fadein { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadein { from { opacity:0; } to { opacity:1; } }
@-webkit-keyframes fadein { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadein { from { opacity:0; } to { opacity: 1; } }
body {
  font-family: Avenir, Arial, serif;
  font-size: 16px;
  margin: 0 auto;
  /*margin-bottom: 50px;*/
  max-width: 650px;
  padding: 0px 20px;
  line-height: 1.6;
  /*background: cyan;*/
}
nav{
  position: fixed;
  /*margin-left: auto;
  margin-right: auto;*/
  max-width: 650px;
  /*background: white;*/
  line-height: 2;
  /*margin: -80px 0px 0px -8px;*/
  margin: -47px 0px 0px -48px;
  /*background: cyan;*/
}
ul{
  list-style-type:none;
}
li{
  /*display: inline;*/
  display: inline-block;
}
#semester{
  position: fixed;
  /*top: -40px; left: 0px; right: -8px;*/
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  background: white;
  line-height: 2;
  padding: 10px 0px 6px 0px;
  /*margin: -80px -8px 0px 0px;*/
  margin: -41px -8px 0px 0px;
  float: right;
  /*background: cyan;*/
}
#top_bar{
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  background: white;
  line-height: 2;
  padding: 10px 0px 6px 0px;
  /*margin: -80px -8px 0px 0px;*/
  margin: -40px -8px 0px 0px;
  float: right;
  /*background: cyan;*/
}
#line_left{
  position: fixed;
  display:none;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  margin: 7px 0px 0px -75px;
  height: 1px;
  background: -webkit-gradient(linear, 10 0, 20% 0, from(white), to(#C0C0C0), color-stop(100%, #C0C0C0));
  animation: fadein 0.4s;
  -moz-animation: fadein 0.4s;
  -webkit-animation: fadein 0.4s;
  -o-animation: fadein 0.4s;
}
#line_right{
  position: fixed;
  display:none;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  margin: 7px 0px 0px 325px;
  height: 1px;
  background: -webkit-gradient(linear, 285 0, 95% 0, from(#C0C0C0), to(white), color-stop(100%, #C0C0C0));
  animation: fadein 0.4s;
  -moz-animation: fadein 0.4s;
  -webkit-animation: fadein 0.4s;
  -o-animation: fadein 0.4s;
}
#line_left_long{
  position: fixed;
  display:none;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  margin: 7px 0px 0px -255px;
  height: 1px;
  background: -webkit-gradient(linear, 10 0, 20% 0, from(white), to(#C0C0C0), color-stop(100%, #C0C0C0));
  animation: fadein 0.4s;
  -moz-animation: fadein 0.4s;
  -webkit-animation: fadein 0.4s;
  -o-animation: fadein 0.4s;
}
#line_right_long{
  position: fixed;
  display:none;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  margin: 7px 0px 0px 325px;
  height: 1px;
  background: -webkit-gradient(linear, 285 0, 95% 0, from(#C0C0C0), to(white), color-stop(100%, #C0C0C0));
  animation: fadein 0.4s;
  -moz-animation: fadein 0.4s;
  -webkit-animation: fadein 0.4s;
  -o-animation: fadein 0.4s;
}
a{
  background: white;
  padding: 3px 0px;
  border-radius: 4px;
  outline: none;
  color: #3399FF;
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  background: #D6EEF8;
  transition: 0s;
  cursor: pointer;
}
.there{
  animation: fadein 0s;
  -moz-animation: fadein 0s;
  -webkit-animation: fadein 0s;
  -o-animation: fadein 0s;
  padding: 4px 8px 3px 8px;
  border-radius: 7px;
  margin: 0px 15px 0px 0px;
  /*position: relative;
  left: -8px;*/
}
.here{
  padding: 4px 8px 2px 8px;
  border-radius: 7px;
  margin: 0px 15px 0px 0px;
  /*position: relative;
  left: -8px;*/
  background: #3399FF;
  color: white;
}
.here:hover{
  background: #3399FF;
  color: white;
}
.section{
  margin: 40px 0px 0px 0px;
  animation: fadein 0.6s;
  -moz-animation: fadein 0.6s;
  -webkit-animation: fadein 0.6s;
  -o-animation: fadein 0.6s;
  /*background: lime;*/
}
.topic{
  display: block;
  padding: 5px;
}
.topic_current{
  display:block;
  padding: 5px;
  background: #3399FF;
  color: white;
}
h1{
  font-size: 28px;
  font-weight: 100;
  line-height: 1.2;
  margin: 10px 0px 15px 0px;
  /*background: cyan;*/
}
h4{
  margin: 10px 0px;
}
p{
  margin: 10px 0px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
table{
  outline: none;
  border-collapse: collapse;
}
td { 
  padding: 0px 0px 10px 0px;
}

#announcement tr > td:first-child {
  color: #A9A9A9;
  width: 140px;
  text-align: right;
  padding: 0px 20px 0px 0px;
  vertical-align:top;
  line-height: 1.4;
}
#announcement td:nth-child(2) {
  vertical-align:top;
  line-height: 1.4;
}
#instructor tr > td:first-child {
  color: #A9A9A9;
  padding: 0px 20px 0px 0px;
  vertical-align:top;
  line-height: 1.4;
}
#instructor td:nth-child(2) {
  vertical-align:top;
  line-height: 1.4;
}
object[type="application/pdf"]{
  border: solid #cccccc 3px;
  border-radius: 6px;
  width: 850px;
  /*height: 750;*/
  height: 80vh;
  /*width: 950px;*/
  /*margin-left:-150px;*/
  /*min-height: 450px;*/
  /*max-height: 700px;*/
}