/*main*/
body{
  font-family: Avenir, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  width: 700px;
  padding: 0px 20px;
  line-height: 1.6;
  cursor: default;
}
#center{
  width: 650px;
  margin: 0 auto;
}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}

/*top navigation bar*/
nav{
  position: fixed;
  width: 650px;
  line-height: 2;
  margin: -40px 0 0 0;
  padding: 9px 0 6px 0;
  /*background: white;*/
  background-color: rgba(255, 255, 255, 0.95);
}
ul{
  margin: 0 0 0 -8px;
  padding: 0px;
}
li{
  display: inline-block;
}
#line_left{
  position: fixed;
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  margin: 7px 0px 0px -75px;
  height: 1px;
  background: -webkit-gradient(linear, 10 0, 20% 0, from(white), to(#C0C0C0), color-stop(100%, #C0C0C0));
  animation: fadein 0.4s;
  -moz-animation: fadein 0.4s;
  -webkit-animation: fadein 0.4s;
  -o-animation: fadein 0.4s;
}
#line_right{
  position: fixed;
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  margin: 7px 0px 0px 325px;
  height: 1px;
  background: -webkit-gradient(linear, 285 0, 95% 0, from(#C0C0C0), to(white), color-stop(100%, #C0C0C0));
  animation: fadein 0.4s;
  -moz-animation: fadein 0.4s;
  -webkit-animation: fadein 0.4s;
  -o-animation: fadein 0.4s;
}
#line_left_long{
  position: fixed;
  display:none;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  margin: 7px 0px 0px -255px;
  height: 1px;
  background: -webkit-gradient(linear, 10 0, 20% 0, from(white), to(#C0C0C0), color-stop(100%, #C0C0C0));
  animation: fadein 0.4s;
  -moz-animation: fadein 0.4s;
  -webkit-animation: fadein 0.4s;
  -o-animation: fadein 0.4s;
}
#line_right_long{
  position: fixed;
  display:none;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  margin: 7px 0px 0px 325px;
  height: 1px;
  background: -webkit-gradient(linear, 285 0, 95% 0, from(#C0C0C0), to(white), color-stop(100%, #C0C0C0));
  animation: fadein 0.4s;
  -moz-animation: fadein 0.4s;
  -webkit-animation: fadein 0.4s;
  -o-animation: fadein 0.4s;
}
.here{
  padding: 4px 8px 2px 8px;
  border-radius: 7px;
  margin: 0px 15px 0px 0px;
  background: #3399FF;
  color: white;
}
.here:hover{
  background: #3399FF;
  color: white;
}
nav li a{
  padding: 4px 8px 3px 8px;
  border-radius: 7px;
  margin: 0px 15px 0px 0px;
}
/*more drop down (not used)*/
.more{
  padding: 4px 8px 3px 8px;
  border-radius: 7px;
  margin: 0px 15px 0px 0px;
  background: white;
  border: 1px solid white;
  transition: 0.2s;
}
.more:hover{
  padding: 4px 8px 3px 8px;
  border-radius: 7px 7px 0px 0px;
  margin: 0px 15px 0px 0px;
  background: white;
  border: 1px solid #3399FF;
  border-bottom: 1px solid white;
  transition: 0s;
}

/*left bar relative positioning*/
#more-menu{
  max-width: 200px;
  float: left;
  margin: 40px 10px 0px 0px;
  overflow-y: scroll;
}
#more-menu a{
  display: block;
  padding: 5px;
}
#more-menu p{
  padding: 5px;
  margin: auto;
  color: #D0D0D0;
}
/*left bar fixed positioning with border (not used)*/
#left{
  max-width: 200px;
  position: fixed;
  top: 70px; bottom: 10%;
  overflow-y: scroll;
  border: 1px solid #3399FF;
  border-radius: 10px;
  padding: 10px;
}
#left a{
  display: block;
  padding: 5px;
  color: black;
}
#left p{
  display: block;
  padding: 5px;
  margin: auto;
  color: #D0D0D0;
}

/*each section on page*/
#section{
  margin: 40px 0px 0px 0px;
  animation: fadein 0.6s;
  -moz-animation: fadein 0.6s;
  -webkit-animation: fadein 0.6s;
  -o-animation: fadein 0.6s;
}
#section h4{
  margin-top: 15px;
}

/*content elements*/
a{
  background: white;
  padding: 2px 0px;
  border-radius: 4px;
  outline: none;
  color: #3399FF;
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  background: #E9F6FB;
  transition: 0s;
  cursor: pointer;
}
h1{
  font-size: 28px;
  font-weight: 100;
  line-height: 1.2;
  margin: 10px 0px 15px 0px;
  /*background: cyan;*/
}
h4{
  margin: 10px 0px;
}
p{
  margin: 10px 0px;
}

/*materials table*/
#section #materials{
  width: 650px;
}
#section #materials tr:first-child{
  /*background: cyan;*/
  font-weight: 700;
}





.materials {
  margin:0px;padding:0px;
  width:100%;
  border:1px solid #ffffff;
  
  -moz-border-radius-bottomleft:5px;
  -webkit-border-bottom-left-radius:5px;
  border-bottom-left-radius:5px;
  
  -moz-border-radius-bottomright:5px;
  -webkit-border-bottom-right-radius:5px;
  border-bottom-right-radius:5px;
  
  -moz-border-radius-topright:5px;
  -webkit-border-top-right-radius:5px;
  border-top-right-radius:5px;
  
  -moz-border-radius-topleft:5px;
  -webkit-border-top-left-radius:5px;
  border-top-left-radius:5px;
}.materials table{
    border-collapse: collapse;
        border-spacing: 0;
  width:100%;
  height:100%;
  margin:0px;padding:0px;
}.materials tr:last-child td:last-child {
  -moz-border-radius-bottomright:5px;
  -webkit-border-bottom-right-radius:5px;
  border-bottom-right-radius:5px;
}
.materials table tr:first-child td:first-child {
  -moz-border-radius-topleft:5px;
  -webkit-border-top-left-radius:5px;
  border-top-left-radius:5px;
}
.materials table tr:first-child td:last-child {
  -moz-border-radius-topright:5px;
  -webkit-border-top-right-radius:5px;
  border-top-right-radius:5px;
}.materials tr:last-child td:first-child{
  -moz-border-radius-bottomleft:5px;
  -webkit-border-bottom-left-radius:5px;
  border-bottom-left-radius:5px;
}.materials tr:hover td{
  
}
.materials tr:nth-child(odd){ background-color:#eeeeee; }
.materials tr:nth-child(even)    { background-color:#ffffff; }.materials td{
  vertical-align:middle;
  
  
  border:1px solid #ffffff;
  border-width:0px 1px 1px 0px;
  text-align:left;
  padding:9px;
  /*font-size:14px;
  font-family:Helvetica;
  font-weight:normal;*/
  color:#000000;
}.materials tr:last-child td{
  border-width:0px 1px 0px 0px;
}.materials tr td:last-child{
  border-width:0px 0px 1px 0px;
}.materials tr:last-child td:last-child{
  border-width:0px 0px 0px 0px;
}
.materials tr:first-child td{
    background:-o-linear-gradient(bottom, #eeeeee 5%, #eeeeee 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eeeeee), color-stop(1, #eeeeee) );
  background:-moz-linear-gradient( center top, #eeeeee 5%, #eeeeee 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeeeee", endColorstr="#eeeeee");  background: -o-linear-gradient(top,#eeeeee,eeeeee);

  background-color:#eeeeee;
  border:0px solid #ffffff;
  text-align:center;
  border-width:0px 0px 1px 1px;
  /*font-size:14px;
  font-family:Helvetica;
  font-weight:bold;*/
  color:#000000;
}
.materials tr:first-child:hover td{
  background:-o-linear-gradient(bottom, #eeeeee 5%, #eeeeee 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eeeeee), color-stop(1, #eeeeee) );
  background:-moz-linear-gradient( center top, #eeeeee 5%, #eeeeee 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeeeee", endColorstr="#eeeeee");  background: -o-linear-gradient(top,#eeeeee,eeeeee);

  background-color:#eeeeee;
}
.materials tr:first-child td:first-child{
  border-width:0px 0px 1px 0px;
}
.materials tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}





/*image style*/
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*table style*/
table{
  outline: none;
  border-collapse: collapse;
}
td { 
  padding: 0px 0px 10px 0px;
}
#announcement tr > td:first-child {
  color: #A9A9A9;
  width: 140px;
  text-align: right;
  padding: 0px 20px 0px 0px;
  vertical-align:top;
  line-height: 1.4;
}
#announcement td:nth-child(2) {
  vertical-align:top;
  line-height: 1.4;
}
#instructor tr > td:first-child {
  color: #A9A9A9;
  padding: 0px 20px 0px 0px;
  vertical-align:top;
  line-height: 1.4;
}
#instructor td:nth-child(2) {
  vertical-align:top;
  line-height: 1.4;
}

/*video*/
button{
  width: 650px;
  height: 450px;
  border: 1px solid #3399FF;
  border-radius: 10px;
}

/*pdf style*/
object[type="application/pdf"]{
  border: solid #cccccc 3px;
  border-radius: 6px;
  width: 850px;
  height: 80vh;
}

/*animations*/
@keyframes fadein { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadein { from { opacity:0; } to { opacity:1; } }
@-webkit-keyframes fadein { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadein { from { opacity:0; } to { opacity: 1; } }

/*text selection*/
::selection { background: #e7e7e7; /* Safari */ }
::-moz-selection { background: #e7e7e7; /* Firefox */ }

/*utoronto logo*/
.logo{
  border: 1px solid white;
  border-radius: 10px;
  padding: 15px;
  display: block;
  margin: 50px auto 60px auto;
  width: 30%;
  transition: 0.5s;
}
.logo:hover{
  border: 1px solid #3399FF;
  border-radius: 10px;
  transition: 0s;
}