#cs-logo { /*new add*/
	width: 400px;
	margin: 0 auto;
}

/*logistics*/
#logistics {
	margin-top: 2em;
	width: 100%;
}
#logistics table {
	margin: 0 auto;
	padding: 0;
}

#logistics-table {
	width: 100%;
}

#logistics-lectures {
	width: 100%;
}

#logistics td,
#logistics th {
	margin: 0;
	padding: 4px;
}

#logistics tr {
	width: 100%;
}

#logistics td {
	text-align: center;
}

#logistics-table {
	border-top: solid black 1px;
	border-bottom: solid black 1px;
}

.logistics-row-header {
	font-weight: bold;
	text-align: right;
	vertical-align: top;
	font-size: 1.05em;
}

#logistics-lectures td {
	width: 33%;
	text-align: center;
}

#logistics-labs th,
#logistics-labs td {
	text-align: center;
	font-weight: normal;
}


/* Exams table */
#exams-table {
	margin: 0 auto;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
}

#exams-table td {
	text-align: center;
	padding: 4px;
	margin: 0;
}

#exams-table th {
	padding: 4px;
	text-align: right;
	vertical-align: top;
}